{% extends "layout.jinja2" %}

{% block content %}
  <div class="grid">
    <div class="grid__col grid__col--3-of-5 grid__col--centered">
      <form method="POST">
        <input name="password" class="grid__col grid__col--3-of-5 grid__col--centered" type="password" placeholder="passphrase"></input>
        <button class="gird__col grid__col--centered" type="submit">HOCUS POCUS!</button>
      </form>
    </div>
  </div>
{% endblock content %}
