{% extends "layout.jinja2" %}

{% block content %}
  <div class="grid">
    <div class="grid__col grid__col--5-of-5 grid__col--centered">
      Door is unlocking ... 
    </div>
  </div>
{% endblock content %}
