{% extends "layout.jinja2" %}

{% block content %}
  <div class="grid">
    <div class="grid__col grid__col--3-of-5 grid__col--centered">
      {{ message }}
    </div>
  </div>
{% endblock content %}
